h1 {
    font-size: 2em;
    color: teal;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: whitesmoke;
    margin: 0;
    padding: 20px;
    background-image: url('./lychem2.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-size: 100% 100%;
    background-size: cover;	
}